<h2>Add Shop</h2>

<form action="/list/add" method="post">

	<div>
		<label for="shop_name">Shop name</label>
		<input type="text" name="shop_name" id="">
	</div>

	<button type="submit">Enter</button>
<div>
    <a href="/list">Shop List</a>
</div>
</form>