{{!-- <div class="container">

    <h2>Add A Deal</h2>
    <form action="/deals" method="post">
    <div>

        <label for="deal">Choose Shop:</label>

        <select name="deal" id="">

            <option>-select a shop</option>

            {{#each list}}

            <option value="{{id}}">{{name}}</option>

            {{/each}}

        </select>

    </div>

    <div>
		<label for="qty">Enter Deal</label>
		<input type="text" name="deal">
	</div>


    </form>

</div> --}}














</div>