<div class="container">
    <h2>List Of Shops</h2>
    <div>
        {{#each list}}

        <ul> {{name}}</ul>

        {{/each}}
    </div>
    <a href="/list/add">
        <button type="submit">Add Shop</button>
    </a>


</div>