<h2>Best deals of Avos</h2>

<div class="pg">

    <img src="../img/box of avo.png" alt="avos" class="center">
</div>


<div class="list">
    <ul>
        <li><strong>Box for R50</strong></li>
        <li><strong>2 for R10</strong></li>
        <li><strong>Pack for R15</strong></li>
        <li><strong>Per Avo for R3</strong></li>
        <li><strong>2 pack for R20</strong></li>
    </ul>
</div>

<div>
    <form action="/shop" method="post">
        <h3>Amount of money you have, enter it below</h3>

        <label class="price" for="price">Enter Amount</label>
        <input type="text" class="input" name="price" placeholder="enter amount">
        <button type="submit"> <a href="/list/shop">Shop List</a></button>

    </form>

    <div>
        <a href="/list">
                <button type="submit">View All Shops</button>
        </a>
    </div>
</div>
